<link href="/style.css" rel="stylesheet">

<header id="landing-header">
    <h1>Welcome, enter any keyword to get <br>all related movie searches</h1>
    <form action="/results" method="GET">
        <input type="text" name="search" placeholder="search movie here" autocomplete="off">
        <button type="submit"  id="button">Submit</button>
    
    </form>
</header>

<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>