@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {

    font-family: 'Montserrat', sans-serif;
    background: #6393c1;
    /* Old browsers */
    background: -webkit-linear-gradient(left, #6393c1 3%, #cfe7fa 28%, #cfe7fa 30%, #cfe7fa 70%, #008df9 100%);
    background: -moz-linear-gradient(left, #6393c1 3%, #cfe7fa 28%, #cfe7fa 30%, #cfe7fa 70%, #008df9 100%);
    background: -o-linear-gradient(left, #6393c1 3%, #cfe7fa 28%, #cfe7fa 30%, #cfe7fa 70%, #008df9 100%);
    background: linear-gradient(to right, #6393c1 3%, #cfe7fa 28%, #cfe7fa 30%, #cfe7fa 70%, #008df9 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    background: #0389ff;
    box-shadow: 1px 2px 0 black;
    border-radius: 10px;
    padding: 10px 5px;
    color: white;

}

.movies {
    color: #0389ff;
}

li {
    margin-bottom: 10px;
}

.heading {
    color: #f99a0d;
    font-size: 2.5rem;
}

a:hover {
    background: #274e82;
    color: black;
    transition: 0.5s linear;
}

a:visited {
    background-color: #0389ff;
}

.search {
    margin-top: 30px;
    color: white;
    width: 10vw;
    min-width: 300px;
    text-align: center;
    font-size: 1.5rem;
}

.movies {
    margin-top: 30px;
}
